 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

body {
    height: auto;
    width: auto;
    background-color: #121826;
    background-image: url(./resources/Background_image@3x.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 20px;
    max-width: 400px;
    text-align: center;
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #9DA3AE;
    margin-bottom: 40px;
    max-width: 400px;
    text-align: center;
}

.cards {
    width: 90%;
    height: 60%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 33%;
    height: 480px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #212936;
    border-radius: 15px;
    padding: 30px;
}

.topCard .ico {
    background-color: #FCEED8;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.topCard .ico span {
    font-size: 2rem;
    font-size: 1.5rem;
}

.topCard h2 {
    color: #E5E7EB;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.topCard p {
    color: #D2D5DA;
    font-size: 1rem;
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.card img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1024px) {
    .cards {
        flex-wrap: wrap;
        height: auto;
    }
    .card {
        width: 40%;
        height: auto;
    }
}

@media only screen and (max-width: 412px) {
    .cards {
        flex-direction: column;
        height: auto;
    }
    .card {
        width: 100%;
        height: auto;
    }
}